

WpfGpuPerfRepro/EmguPictureBox/bin/

WpfGpuPerfRepro/EmguPictureBox/obj/

WpfGpuPerfRepro/WpfCore/bin/

WpfGpuPerfRepro/WpfCore/obj/

WpfGpuPerfRepro/.idea/

WpfGpuPerfRepro/.vs/

WpfGpuPerfRepro/packages/

WpfGpuPerfRepro/WpfFramework/bin/

WpfGpuPerfRepro/WpfFramework/obj/
